body{
    background-color: lightgrey;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

div{
    background-color: white;
    border-radius: 20px;
    height: 550px;
}

img{
    width: 340px;
    height: 340px;
    border-radius: 20px;
    margin-top: 10px;
    margin: 15px;
}

h1{
    font-size: 25px;
    text-align: center;
}

p{
    text-align: center;
}